
#burger-container{
    display:none;
    position:relative;
    width:48px;
    height:48px;
    z-index: 11;
    padding-right: $windowMargin;
    /* border:solid 1px red; */
    
}
#burger{
    cursor:pointer;
    display:block;
    top:10px;
    /* margin-top: 20px; */
    /* margin-right:10px; */
    /* border:solid 1px red; */
}
#burger span{
    background:#eee;
    display:block;
    width:48px;
    height:6px;
    margin-bottom: 6px;
    position:relative;
    top:0;
    transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3){
    width:0;
    opacity:0;
}

#burger-container.open span:nth-child(4){
    transform:rotate(45deg);
    top:-18px;
}
#burger-container.open span:nth-child(1){
    transform:rotate(-45deg);
    top:18px;
    
}

#burger-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    inset:0;
    background-color: rgb(0,0,0,0.9);
    overflow-x: hidden;
    transition: ease-in 0.2s;
  
    /* border:solid 1px red; */
  }
.burger-menu-width{
    width:100vw !important;
    height:auto;
    z-index: 10;
}
#burger-menu-list{
    height:auto;
    padding:0;
    z-index: 15;
    background-color: transparent;
}
#burger-menu-list li{
    display:block;
    color:white;
    margin-bottom:5px;
    padding:20px;
    cursor:pointer;
    /* border:solid 1px white; */
}
