.card{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    color:white;
    font-family: 'Techna Sans';
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
a{
    text-decoration: none;
    color:white;
    transition: all 0.5s;
    cursor:pointer;
}
.red{
    color:$activered;
}
a:hover,  #burger-menu-list li:hover, .gradient , .active-page {
    background:$gradientRed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    cursor:pointer;
}
button:hover{
    background-color: $activered;
}