@font-face {
    font-family: 'Mustica Pro';
    src: url('../fonts/MusticaPro-SemiBold.woff2') format('woff2'),
        url('../fonts/MusticaPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vezla';
    src: url('../fonts/Vezla.woff2') format('woff2'),
        url('../fonts/Vezla.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}