@font-face {
    font-family: 'Good Times Rg';
    src: url('fonts/GoodTimesRg-Regular.woff2') format('woff2'),
        url('fonts/GoodTimesRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Techna Sans';
    src: url('fonts/TechnaSans-Regular.woff2') format('woff2'),
        url('fonts/TechnaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
