header{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100px;
    display:flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    // background: rgba(0,0,0,0.5);
    z-index: 10;
    #logo{
        height:80px;
        width: auto;
        filter: drop-shadow(5px 5px 5px  rgba(0,0,0,0.6));


    }
    nav{
        text-align: center;
    }
    ul{
        display: inline;
        text-align: center;
        height:20px;
    }
    li{
        display: inline;
        font-family: 'Vezla';
        white-space: nowrap;
        padding:5px 15px;
        margin-left:10px;
        border-radius: 50px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

    }
    a:hover {
        background:$gradientRed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
