#home{
    background-image: url(img/home_m.jpg);
    justify-content: center;
    align-items: center;

}
.intro{
    max-width: 600px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    h1{
        text-shadow: 2px 2px 4px #000;
        margin:0;
    }
}
