#home{
    background-image: url(img/home_m.jpg);
    justify-content: center;
    align-items: center;

}
.intro{
    max-width: 600px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    h1{
        text-shadow: 2px 2px 4px #000;

    }
}
.intro-button{
    width:auto;
    padding:8px;
    border-radius:20px;
    margin-top:20px;
    background-color:rgba(0,0,0,0.3);
    border:solid 2px white;
    color:white;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}