*{
    box-sizing: border-box;
    margin:0;   
    padding:0; 
    scroll-snap-type: y mandatory;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}
section{
    @include fr-center();
    min-height:100vh;
    padding-top:100px;
    width:100vw;
    flex: 1 0 auto;
    // scroll-snap-align: start;
}
.section-header{
    font-family: 'Vezla';
    display:flex;
    justify-content: center;
    height:50px;
    width:600px;
    margin-bottom:20px;
    // border:solid 1px green;
    text-align: center;
}
.section-title{
    font-size: clamp(24pt, 3vw, 38pt);

}
p, form, label, button{
    font-size:clamp(12pt, 2vw, 14pt)
}

#home{
    background-image: url(../img/unsplash-ethan-rheams.jpg);
    background-attachment: fixed;
    background-size:  contain no-repeat;
    background-position: center 45% ;
    perspective: 300px;
}
.home-heading{
    position:absolute;
    top:35vh;
    max-width:800px;
    color:white;
    font-family: 'Vezla';
    font-size: clamp(24pt, 4vw, 38pt);
    margin-left:10px;
    text-align: center;
    /* border:solid 1px pink; */
}

