@import 'fonts';
@import 'variables';
@import 'layout';
@import 'components';
@import 'header';
@import 'burger-menu';
@import 'home';
@import 'ourservices';
@import 'contact';
@import 'footer';
@import 'media-queries';