@font-face {
    font-family: 'Good Timing Rg';
    src: url('GoodTimingRg-Bold.woff2') format('woff2'),
        url('GoodTimingRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mustica Pro';
    src: url('MusticaPro-SemiBold.woff2') format('woff2'),
        url('MusticaPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vezla';
    src: url('Vezla.woff2') format('woff2'),
        url('Vezla.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

